body {
  margin: 0;  
}


.font-link {
  font-family: 'GFS Didot', serif;
}

.header {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: gray;
}

.header img {
    width: 25px;    
    margin-right: 10px;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:nth-child(1) {
  margin-left: 10px;
}

.iconos {
  padding: 25px 25px; 
  font-size: 1.5em;
}

.todo{
  display: flex;
}

.cajaDatos {
  width: 600px;
  height: 400px;
  padding: 20px;
  background-color: brown;
  color: white;
  font-family: 'GFS Didot', serif;
}


.nombre {
  font-size: 3.6em;
  font-weight: 600;
}


.subtitulo {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}


.tituloSkills {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 20px;
  color: brown;
}
.formacion {
  font-size: 1.2em;
  padding-left: 60px ;  
  padding-right: 10px;
}

.tituloSkills dt {  
  font-size: 0.6em;
  color: black;
  font-weight: 100;
  line-height: 10px;
}



.titulo div {
  font-size: 1.6em;
  font-weight: 600;
}

.prueba {
  display:flex;
  align-items: center;
}
.prueba div,a {
  margin-left: 20px;
}


.detalles {
  display: flex;
  margin-top: 50px;
  padding-left: 25px;
}

.detalles {
  align-items: center;    
}

.detalles img {
  width: 20px;
}

.textIcon {
  margin-left: 10px;
}

.cajaDatos h5 {    
  font-size: 1.4em;
  font-weight: 600;
  line-height: 0;  
}

.experiencia {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #eeeeee;
  color: #202020;
  font-family: 'GFS Didot', serif;  
}

.experiencia .titulo {
  font-size: 1.6em;
  align-self: center;  
}

.puesto {
  font-size: 2em;  
}

.empresa {  
  font-size: 1.4em;
  color: brown;
}

.fecha {
  display: flex;
  align-items: center;
}
.fecha img {
  margin-right: 5px;
}

.trabajo {
  font-size: 1.2em;
  font-weight: 100;
}