@font-face {
  font-family: bodidota;
  src: url("./font/Bodidota.ttf") format("truetype");
}

@font-face {
  font-family: didot;
  src: url("./font/TheanoDidot-Regular.ttf") format("truetype");
}


body {
  width: 100%;
  margin: 0;
  font-family: 'didot', serif;
}

.header {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(243, 5, 5);
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0px;    
    font-size: 5vw;
}

/*
.header img {
    width: 4%;    
    margin-right: 30px;
}
*/

.header a {
  color: black;
  text-decoration: none;
}

/*
.header a:nth-child(1) {
  margin-left: 30px;
}
*/

.tarjetaDatos {  
  display: flex;
  top:auto;
  background-color: rgb(61, 18, 2);
  justify-content: space-around;
  padding: 5%;

}

.datosPersonales {  
  display: flex;
  color:#dddddd;
  flex-direction: column;
  align-items: center;
}

.datosPersonales h1 {
  font-size: 3rem;
  text-align: center;
}

.datosPersonales h2 {
  font-size: 2rem;
  margin-top: 0px;
  text-align: center;
}

.cajaEnlaces {
  display: flex;
  flex-direction: column;
  color: #eeeeee; 
  font-size: 2em;
}


.cajaEnlaces div{
  display: flex;
  align-items: center;
  padding-bottom: 20px;  
}



.cajaEnlaces div a {
  text-decoration: none;
  color: #eee;
}

.cajaEnlaces div {
  gap: 1.5em;
  
}

.icon {
  width: 1em;
}

.flags img {  
  width: 2em;  
}

.descargaPDF {
  font-size: 1em;
  padding: 15px;
  border-radius: 5px;
}


.cajaFormacion {
  padding: 5%;
  padding-top: 2%;
}

.cajaFormacion h1 { 
  font-size:  1.2em;
}


.miFormacion {
  margin-top: 0px;
  margin-bottom: -20px;
  padding-bottom: 2%;
  font-size: 1.2em;
}

.miFormacion ul li {
  font-size: 1em;
}


.lang {
  justify-content: left;
  font-size: 2.5em;
  display: flex;
  gap: 50px;
}




.miExperiencia {
  background-color: #dddddd;
  margin-top: 0px;
  padding: 5vh;

}

.miExperiencia h1 {
  font-size: 2.3em;  
}

.miPuesto {
  font-size: 2rem;
  margin-top: 0;
  padding-top: 3vw;
  margin-bottom: 0;
}

.miEmpresa {
  font-size: 1.6rem;
  color: brown;
  margin-top: 0;
  margin-bottom: 0;

}


.miFecha {
  font-size: 2rem;
  display: flex;  
  justify-content: left;
  align-items: center;
  margin-top: 0;
}

.miFecha img {
  width: 2rem;
  margin-right: 1vw;
}

.miTrabajo {
  border-left: 1vw solid rgb(235, 155, 126);
  padding-left: 1vw;
  font-size: 1.2rem;
}











/* @media only screen and (min-width:1080px){ 
 @media (orientation: landscape), (min-width:1080px) {
@media (min-width:1600px), screen and (orientation:portrait) { */

  @media (min-width:1080px),(orientation: landscape) {
  
  .tarjetaDatos {
    width: 100%;
    display: flex;
    background-color: rgb(61, 18, 2);
    justify-content: space-around;
    padding: 2%;
  }

  .datosPersonales {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }

  .datosPersonales h1 {
    margin-top: 0px;
    margin-bottom: -2%;
    padding-top: 30px;
    font-size: 2.3em;
  }

  .datosPersonales h2 {
    margin-top: 0px;
    padding: 1%;
    font-size: 2em;
    text-align: center;
  }
  
  .flags {
    justify-content: left;
    gap: 2em;
  }



  .descargaPDF {
    font-size: 1em;
    padding: 15px;
    border-radius: 5px;
  }


  .cajaEnlaces {
    justify-content: center;
    width: 40%;
    font-size: 1.5em;
  }

  .cajaFormacion {
    display: flex;
    gap: 8em;
    padding-bottom: 2%;
    padding-top: 0px;
  }
  

  .miFormacion {
    margin-top: 0px;
    margin-bottom: -20px;
    padding-top: 1vh;
    font-size: 1rem;    
    
  }
  .miFormacion ul li {
    font-size: 1.2rem;
  }
  

  .lang {
    display: flex;
    font-size: 1em;
    gap: 2.5em;
  }

  
  .misSkills {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    padding-top: 1vh;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1em;
    margin-bottom: 2vw;
  }
  
  .misSkills dt {
    border-left: 1vw solid rgb(235, 155, 126);
    padding-left: 3vw;
    font-size: 5rem;
  }

  .ficha {
    width: 60%;
  }

  .miExperiencia {
    background-color: #eeeeee;  
    margin-top: 0px;
    padding-left: 4em;
  }
  
  .miExperiencia h1 {
    font-size: 1.5rem;
    margin-top: 0px;
  }
  
  .miPuesto {
    font-size: 1.3rem;
    padding-top: 0px;
  }
  
  .miEmpresa {
    font-size: 1em;
    color: brown;
  }


  .miFecha {
    font-size: .9em;
    display: flex;  
    justify-content: left;
  }

  .miFecha img {
    width: 1.2%;
    margin-right: 1vw;
  }
  
  .miTrabajo {
    border-left: .5vw solid rgb(235, 155, 126);
    font-size: 1em;
  }

.header {
  display: none;
}  

}