:root {
  --margen-izquierdo: 40px;
}

body {
  margin: 0;  
}

.font-link {
  font-family: 'GFS Didot', serif;
}

.header {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: gray;
}

.header img {
    width: 25px;    
    margin-right: 10px;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:nth-child(1) {
  margin-left: 10px;
}


.todo{
  display: flex;
}

.cajaDatos {
  width: 30vw;
  height: 25vw;
  padding: 20px;
  background-color: brown;
  color: white;
  font-family: 'GFS Didot', serif;
  overflow: hidden;
}

.cajaDatos h1 {
  font-size: 3vw;
  font-weight: 600;
  line-height: 0;
  word-wrap:break-word;
}

.cajaDatos h2 {
  font-size: 2vw;
  font-weight: 600;
  line-height: 0;
}

.cajaDatos h5 {    
  font-size: 1.5vw;
}


.nombre {
  font-size: 3.6em;
  font-weight: 600;
  margin-left: var(--margen-izquierdo);
}


.subtitulo {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: var(--margen-izquierdo);
}


.iconos {
  flex-direction: column;  
  margin-left: var(--margen-izquierdo);
}


.iconos h5 {
  display: flex;
  align-items: center;
  line-height: 1vw;
}

.tituloSkills {
  display: flex;
  justify-content: space-around;
  font-size: 2vw;
  font-weight: 600;
  margin-top:20px;  
  color: brown;
}
.formacion {
  font-size: 1.3vw;
  margin-left: var(--margen-izquierdo);  
  padding-right: 10px;
}

.tituloSkills dt { 
  font-size: 1.3vw;
  color: black;
  font-weight: 100;
  line-height: 10px;
}

.tituloSkills div {
  margin-top:40px;  

}


.experiencia {
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  color: #202020;
  font-family: 'GFS Didot', serif;
  padding-left: var(--margen-izquierdo);
  padding-right: var(--margen-izquierdo);
}

.titulo {
  font-size: 2.5vw;
  font-weight: 600;
  align-self: center;
  margin-top: 10px;

}

.puesto {
  font-size: 2.2vw;  
}

.empresa {  
  font-size: 1.5vw;
  color: brown;
}

.fecha {
  display: flex;
  align-items: center;
}
.fecha img {
  margin-right: 5px;
}

.trabajo {
  font-size: 1.5vw;
  font-weight: 100;
}