@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("./font/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("./font/Roboto-Bold.ttf") format("truetype");
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  /* font-family: 'didot', sans-serif; */
}

.tarjetaDatos {  
  display: flex;
  top:auto;
  background-color: rgb(61, 18, 2);
  justify-content: space-around;
  padding: 5%;

}

.datosPersonales {  
  display: flex;
  color:#ddd;
  flex-direction: column;
  align-items: center;
}

.datosPersonales h1 {
  font-size: 3rem;
  text-align: center;
}

.datosPersonales h2 {    
  font-style: italic;
  font-size: 2em;
  margin-top: 0px;
  text-align: center;
}

.cajaEnlaces {
  display: flex;
  flex-direction: column;
  color: #eeeeee; 
  font-size: 2em;
}

.cajaEnlaces div{
  display: flex;
  align-items: center;
  padding-bottom: 20px;  
  gap: 1.5em;
}

.cajaEnlaces div a {
  text-decoration: none;
  color: #eee;
}


.icon {
  width: 1em;
}

.flags img {  
  width: 2em;  
}

.botonpdf {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 5px;
}



.cajaFormacion {
  padding: 5%;
  padding-top: 2%;
  border: 1px solid red;
}


.miFormacion {
  margin-top: 0px;
  padding-bottom: 2%;
}


.lang {
  display: flex;
  justify-content: left;
  gap: 50px;
}

.cajaFormacion p {
  font-size: 3em;
}




.miExperiencia {
  background-color: #dddddd;
  margin-top: 0px;
  padding: 5vh;

}

.miExperiencia h1 {
  font-size: 2.3em;  
}

.miPuesto {
  font-size: 2rem;
  margin-top: 0;
  padding-top: 3vw;
  margin-bottom: 0;
}

.miEmpresa {
  font-size: 1.6rem;
  color: brown;
  margin-top: 0;
  margin-bottom: 0;

}


.miFecha {
  font-size: 2rem;
  display: flex;  
  justify-content: left;
  align-items: center;
  margin-top: 0;
}

.miFecha img {
  width: 2rem;
  margin-right: 1vw;
}

.miTrabajo {
  border-left: 1vw solid rgb(235, 155, 126);
  padding-left: 1vw;
  font-size: 1.2rem;
}











/* @media only screen and (min-width:1080px){ 
 @media (orientation: landscape), (min-width:1080px) {
@media (min-width:1600px), screen and (orientation:portrait) { */

  @media (min-width:1081px),(orientation: landscape) {
  
  .tarjetaDatos {
    width: 100%;
    display: flex;
    background-color: rgb(61, 18, 2);
    justify-content: space-around;
    padding: 2%;
  }

  .datosPersonales {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }

  .datosPersonales h1 {
    margin-top: 0px;
    margin-bottom: -2%;
    padding-top: 30px;
    font-size: 2.3em;
  }

 

  .datosPersonales h2 {    
    font-style: italic;
    font-size: 2em;
    margin-top: 0px;
    padding-top: 2%;
    text-align: center;
  }
  
  .flags {
    justify-content: left;
    gap: 2em;
  }



  .descargaPDF {
    font-size: 1em;
    padding: 15px;
    border-radius: 5px;
  }


  .cajaEnlaces {
    justify-content: center;
    width: 40%;
    font-size: 1.5em;
  }







  .cajaFormacion {
    display: flex;
    gap: 8em;
    padding-bottom: 2%;
    padding-top: 0px;
    justify-content: center;
    border: 1px solid red;
  }
  

  .miFormacion {
    margin-top: 0px;
    padding-top: 1vh;
  }

  /*
  .miFormacion h1{
    font-size: 2em;
  }
  .miFormacion ul{
    font-size: 1.2em;
  }
*/
  .lang {
    display: flex;
    margin-top: 0px;
    padding-top: 1vh;
    gap: 8em;
  }


  
  .misSkills {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    padding-top: 1vh;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2vw;
  }
  

  .ficha {
    width: 60%;
  }

  .miExperiencia {
    background-color: #eeeeee;  
    margin-top: 0px;
    padding-left: 4em;
  }
  
  .miExperiencia h1 {
    font-size: 1.5rem;
    margin-top: 0px;
  }
  
  .miPuesto {
    font-size: 1.3rem;
    padding-top: 0px;
  }
  
  .miEmpresa {
    font-size: 1em;
    color: brown;
  }


  .miFecha {
    font-size: .9em;
    display: flex;  
    justify-content: left;
  }

  .miFecha img {
    width: 1.2%;
    margin-right: 1vw;
  }
  
  .miTrabajo {
    border-left: .5vw solid rgb(235, 155, 126);
    font-size: 1em;
  }

.header {
  display: none;
}  

}